<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQRzXiOWatL72E8OJzH2toQGjJ4S3X7sA</string>
	<key>GCM_SENDER_ID</key>
	<string>483993498683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petWellnessApp</string>
	<key>PROJECT_ID</key>
	<string>pet-wellness-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-wellness-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483993498683:ios:16b278f19c4b502b72d81e</string>
</dict>
</plist>